name: Create NuGet and GitHub Release

on:
  workflow_call:
    inputs:
      dotnet-version:
        default: '8.0.x'
        type: string
      project-path:
        required: true
        type: string
      tag-prefix:
        default: ''
        type: string
      nuspec-file:
        type: string
        required: true
    secrets:
      github-token:
        required: true
      nuget-token:
        required: true

jobs:
  release:
    if: github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && github.event.pull_request.merged && startsWith(github.event.pull_request.head.ref, 'release/'))
    runs-on: windows-2022
    environment: release

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: actions/download-artifact@v7
      with:
        path: './src'
        name: build

    - id: release
      uses: ./.github/actions/nuget-release
      with:
        dotnet-version: ${{ inputs.dotnet-version }}
        project-path: ${{ inputs.project-path }}
        tag-prefix: ${{ inputs.tag-prefix }}
        nuget-directory: ${{ inputs.project-path }}/nuget
        nuget-token: ${{ secrets.nuget-token }}
        github-token: ${{ secrets.github-token }}
        nuspec-file: ${{ inputs.nuspec-file }}